footer {
    background-color: rgb(17, 23, 31);
    color: #fff;
    padding: 20px;
    text-align: center;
    /* what my dumbass added */
    /* border: 1px solid #9298da; */
}

.bottomItems {
    margin: 10px 0;
}

#footerName a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

#footerButtons a {
    margin: 0 10px;
}

#footerButtons img {
    max-width: 5%;
}