body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1d2d38;
  }

  a {
    text-decoration: none;
    }

  .project {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #39475a;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

  }

  .project:hover {
    transform: translateY(-5px);
    background-color: #303b4d;

  }
  
  .project img {
    width: 15%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .project-content {
    flex: 1;
  }
  
  .project-title {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    color: #C9F0FF;
  }
  
  .project-description {
    font-size: 1rem;
    color: #C9F0FF;
    margin: 0;
  }

